<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/css/angular-material.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/default-theme.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

</head>

<body ng-app="App">
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="md-toolbar-tools">
          <span>JDJ-MQTT</span>
        </h2>
        <a href="/temperatura">Temperatura</a>
      </div>
    </md-toolbar>
    <div class="inset" ng-controller="AppController">
      <md-subheader class="md-primary">
        {{socketStatus}}
      </md-subheader>

      <md-list>
        <md-item ng-repeat="ctrl in ctrls">
          <md-switch ng-model="ctrl.state" ng-disabled="ctrl.disabled" aria-label="ctrl.name" ng-change="onChange('{{ctrl.name}}',ctrl.state)">
            {{ctrl.label}}
          </md-switch>
        </md-item>
      </md-list>

    </div>
  </md-content>
  <script src="/js/socket.io.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/hammerjs/hammer.js"></script>
  <script src="/bower_components/angular-material/angular-material.min.js"></script>
  <script src="/js/angular-material.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-socket-io/socket.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>

</body>

</html>
